* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: gold;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
    border-bottom: 4px solid purple;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 700;
    color: purple;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    margin: 0 20px;
    color: purple;
}

nav a:hover {
    text-decoration: underline;
}

header button {
    outline: none;
    font-size: 16px;
    background: purple;
    color: gold;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 4px;
    letter-spacing: .5px;
    cursor: pointer;
    border: 2px solid black;
}